<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <p class="brown center"> <b>OUR SERVICES</b> </p>
        <h1 class="center"><b>Services We Provide</b></h1>
    </section>
    

    <section class="center">
            <!-- <div> -->
            <div class="row">
                <div class="col-md-4">
                    <div class="box-padding">
                        <img class="teath"
                             src="images/001-dental.png" alt="">
                        <br><br>
                        <h5 class="gray-text">Fluoride Treatment</h5><br>
                        <p class="lightgray-text">Lorem Ipsum is simply dummy printing and typesetting indust Ipsum has been the</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-padding">
                        <img class="teath" src="images/tooth (1).png" alt=""><br><br>
                        <h5 class="gray-text">Cavity Filling</h5><br>
                        <p class="lightgray-text">Lorem Ipsum is simply dummy printing and typesetting indust Ipsum has been the</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-padding">
                        <img class="teath" src="images/tooth.png" alt=""><br><br>
                        <h5 class="gray-text">Teath Whitening</h5><br>
                        <p class="lightgray-text">Lorem Ipsum is simply dummy printing and typesetting indust Ipsum has been the</p>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </section>


    <section class=" maskGroup3">
        <div class="row">
            <div class="col-md-4 maskGroup3Img text-right">
                <!-- <div> -->
                    <img src="images/Mask Group 3.png" alt="">
                <!-- </div> -->
            </div>
            <div class="col-md-8">
                <div class="text-topPadding">
                    <h2>Exceptional Dental Care, on Your Terms</h2><br>
                    <p class="lightgray-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsumis that it has a more-or-less normal distribution of letters,as opposed to using 'Content here, Content here',making it look like readable English. Many desktop publishing packages and web page
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsumis that it has a more-or-less normal distribution of letters,as opposed to using 'Content here, Content here',making it look like readable English. Many desktop publishing packages and web page
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsumis that it has a more-or-less normal distribution of letters,as opposed to using 'Content here, Content here',making it look like readable English. Many desktop publishing packages and web page
                    </p><br>
                    <button class="btn btn-primary button textColor-white">Learn More</button>
                </div>
            </div>
        </div>
    </section>


    <section class="appointment-sec">
        <div class="row">
            <div class="col-md-4 doctor-picture">
                <!-- <div class="left doctor-picture"> -->
                    <img  src="images/5790-removebg.png" alt="">
                <!-- </div> -->
            </div>
            <div class="col-md-8">
                <div>
                    <div class="text-topPadding">
                        <p class="brown"> <b>APPOINTMENT</b> </p>
                        <h2 class="textColor-white">Make an appointment Today</h2><br>
                        <p class="lightgray-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
                        </p><br>
                        <button class="btn btn-primary button">Learn More</button>
                    </div>
                </div>
            </div>
        </div>   
    </section>


    <section >
        <div id="testimonial-bg">
        <div class="row">
            <div class="col-md-9">
                <p class="brown"> <b>TESTIMONIAL</b> </p>
                <h2 class="">What's Our Patients Says</h2>
            </div>
            <div class="col-md-3">
                <img src="images/dot-bg.png" alt="">
            </div>
        </div>
        
        <div class="card-deck box-padding">
            <div class="card ">
              <div class="card-body">
                <p class="card-text gray-text">It is a long established fact that by the readable content of a lot layout. The point of using Lorem a more-or-less normal distribu to using'Content here, content</p>
              </div>
              <div class="card-footer">
                <img class="left small-img" src="images/Ellipse 1.png" alt="">
                <div class="left">
                    <p ><span class="brown">Winson Herry</span><br><span class="gray-text" >california</span></p>
                </div>
              </div>
            </div>
            <div class="card">
              
              <div class="card-body">
                <p class="card-text gray-text">It is a long established fact that by the readable content of a lot layout. The point of using Lorem a more-or-less normal distribu to using'Content here, content</p>
              </div>
              <div class="card-footer">
                <img class="left small-img" src="images/Ellipse 2.png" alt="">
                <div class="left">
                    <p ><span class="brown">Winson Herry</span><br><span class="gray-text" >california</span></p>
                </div>
              </div>
            </div>
            <div class="card">
              
              <div class="card-body">
                <p class="card-text gray-text">It is a long established fact that by the readable content of a lot layout. The point of using Lorem a more-or-less normal distribu to using'Content here, content</p>
              </div>
              <div class="card-footer">
                <img class="left small-img" src="images/Ellipse 3.png" alt="">
                <div class="left">
                    <p ><span class="brown">Winson Herry</span><br><span class="gray-text" >california</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section >
        <div>
        <p class="brown center"> <b>OUR BLOG</b> </p>
        <h2 class="center">from Our Blog News</h2>
        <br><br>
        <div class="card-deck box-padding">
            <div class="card button textColor-white">
            
              <div class="card-body">
                <small><span>Rashed Kabir</span><br> <span>22 Aug 2018</span> </small><br><br>
                <h4 class="card-text">Check at least a doctor in a year for your teeth</h4>
              </div>
              <div class="card-footer button rightArrow">
                &RightArrow;
              </div>
            </div>
            <div class="card">
              
              <div class="card-body">
                <img class="left small-img" src="images/Ellipse 1.png" alt="">
                <div class="">
                <p ><span class="brown">Dr.Caudi</span><br><span class="gray-text" >23 April 2019</span></p>
                </div>
                <div>
                    <p class="gray-text"><b>2 times of brushy in a day can keep you healthy </b></p>
                </div>

              </div>
              <div class="card-footer">
                <p class="gray-text">It is a long established fact that by the readable content of a lot layout. The point It is a long established fact that by the readable content of a lot layout. The point It is a long established fact that by the readable content of a lot layout. The point</p>
              </div>
            </div>
            <div class="card">
              
              <div class="card-body">
                <div>
                    <img class="left small-img" src="images/Ellipse 3.png" alt="">
                    <div class="">
                    <p ><span class="brown">Dr.John Mitchel</span><br><span class="gray-text" >23 April 2019</span></p>
                </div>
                </div>
                <p class="gray-text"><b>The tooth cancer is taking a challenge</b></p>
              </div>
              <div class="card-footer">
                <p class="gray-text">It is a long established fact that by the readable content of a lot layout. The point It is a long established fact that by the readable content of a lot layout. The point It is a long established fact that by the readable content of a lot layout. The point</p>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section>
        <h4 class="brown center"> <b>Our Doctors</b> </h4>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img class="doctors" src="images/doctor.png" alt="">
                    <div class="center">
                        <h2>Dr.Caudi</h2>
                        <p>&phone;<span>+61 452 200 126</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <img class="doctors" src="images/doctor.png" alt="">
                    <div class="center">
                        <h2>Dr.Caudi</h2>
                        <p>&phone;<span>+61 452 200 126</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <img class="doctors" src="images/doctor.png" alt="">
                    <div class="center">
                        <h2>Dr.Caudi</h2>
                        <p>&phone;<span>+61 452 200 126</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-img">
        <div class="container">
            <div>
                <p class="brown center"> <b>CONTACT US</b> </p>
                <h2 class="center textColor-white">Always Connect With Us</h2><br><br>
            </div>
            <input class="form-control" type="text" placeholder="Email Address*"><br>
            <input class="form-control" type="text" placeholder="Subject*"><br>
            <input class="form-control input-box" type="text" placeholder="Your Message*"><br>
            <div class="center">
                <button class="btn btn-primary button textColor-white ">SUBMIT</button>
            </div>
        </div>
    </section>
    
</body>
</html>